.sidebar {
    grid-area: sidebar;
    background-color: greenyellow;
    padding: 20px;
}

.sidebar .item a {
  color: white;
  text-decoration: none;
}

.sidebar .item a.activeLink {
  color: blue;
}